<!DOCTYPE html>
<html lang=en>
  <head>
    <title>StateFacts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'geoData' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav id='page-header'>
      <%= image_tag("sanborn_header_logo.png", id: "header-logo") %>
      <h1 id="header-text">STATE FACTS</h1>
    </nav>
    <%= yield %>
  </body>
</html>
